.super-mario {
    width: 200px;
    position: absolute;
    top: 180px;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 330px;
    left: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 440px;
  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    top: 180px;
    left: 420px
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 300px;
    left: 700px;
  }